* {
	margin: 0px;
	padding: 0px;	
	font-family:Ubuntu, serif;
	/*border: .3px dashed black;*/
}

body {
	text-align: center;
	min-width: 1400px;
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #333333;
	display: block;
	margin: 8px;
}

/*----------------IMAGE & HEADER---------------------*/

.bwmotorcycle {
	display: inline-block;
	position: relative;
}

#motorrad {
	text-align: center;
	position: relative;
	font-size: 2em;
	top: -35px;
}
	
hr {
	padding: 0;
	width: 1100px;
	border: none;
	border-top: 2px solid #333333;
	color: black;
	text-align: center;
	display: block;
	margin: auto;
	padding-bottom: 10px;
}

/*-----------------NAVIGATION-----------------*/

.navigation {
	text-align: center;
	font-size: 2em;
	background-color: rgba(225, 225, 225, 0.5);
	display: inline-block;
	width: 1100px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: right;
	margin: 0px;
}

ul a {
	display:inline-block;
	padding: 14px 16px;
	text-decoration: none;
	color: red;
}

ul li:hover, .selected {
}

.item {
	color: red;
	text-decoration: none;
	hover: none;
	display: inline-block;
}

/*--------MAIN CONTENT-------------------*/

.main {
	width: 1100px;
	text-align: left;
	color: black;
	font-size: 1.5em;
	margin: auto;
	float: none;
	background-color: rgba(225, 225, 225, 0.5);
    
}

#offroadlist {
	list-style: disc;
	color: black;
}
/*END*/